<section class="contact-container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-6">
      <h3>Why me?</h3>
      <p class="large-text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-1 mt-md-5">
    <div class="col-11 col-md-5">
      <img src="assets/example_1.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-11 col-md-5 mt-3 mt-md-0">
      <img src="assets/example_2.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</section>
<section class="contact-action-container">
  <div class="row">
    <div class="col contact-action-left">
      Ready to connect?
    </div>
    <div class="col contact-action-right d-flex justify-content-center align-items-center">
      <a class="filled-action-button" href="mailto:marlene.stanzl@gmail.com">Lets Connect</a>
    </div>
  </div>
</section>
