<footer>
  <div class="row justify-content-center">
    <div class="col-11 col-md-6">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              Marlene Stanzl
            </div>
          </div>
          <div class="row">
            <div class="col">
              Donaustadt 1220 Wien
            </div>
          </div>
          <div class="row">
            <div class="col">
              Österreich
            </div>
          </div>
          <div class="row">
            <div class="col">
              marlene@hagn.network
            </div>
          </div>
        </div>
        <div class="col pt-4 pt-md-0">
          <div class="row">
            <div class="col">
              Maximilian Hagn Webdesign
            </div>
          </div>
          <div class="row">
            <div class="col">
              admin@hagn.network
            </div>
          </div>
        </div>
        <!--Maybe textlogo-->
      </div>
    </div>
  </div>
</footer>
