<div class="hero-container">
  <div class="row w-100 justify-content-center">
    <div class="col-10 col-md-6">
      <div class="row">
        <div class="col-12">
          <h1>Marlene Stanzl</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Studentin der Rechtswissenschaften</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <a class="hero-button" href="#cv" type="button">Kontaktiere mich</a>
        </div>
      </div>
    </div>
  </div>
  <div class="info-box" [style]="getBoxTransformValue()" #info>
    <div class="row">
      <div class="col-12 col-md-8 p-1 p-md-5">
        <h3 class="ps-1 pt-1 pe-1 ps-md-5 pt-md-3 pe-md-5">
          Rechtswissenschaften und Betriebswissenschaften in Wien
        </h3>
        <p class="p-1 ps-md-5 pe-md-5 pt-md-4 pb-md-5">
          Das ist ein eher längerer Text der über ca. 3 Zeilen gehen wird und mir fällt
          jetzt schon nicht mehr ein was ich tippen soll, aber wir haben gerade mal zwei
          Zeilen geschafft- Naja eine Zeile geht sich noch aus!
        </p>
        <div class="social-container ps-1 pb-3 pb-0 ps-md-5">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </div>

      </div>
      <div class="col-12 col-md-4 border-container p-1 pt-4 p-md-5 d-flex justify-content-start align-items-center">
        <div class="box-right-container ps-1 ps-md-5">
        <div class="row">
          <div class="col">
            <h4>Let's Connect</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Marlene Stanzl
          </div>
        </div>
        <div class="row">
          <div class="col">
            Donaustadt 1220 Wien
          </div>
        </div>
        <div class="row">
          <div class="col">
            Österreich
          </div>
        </div>
        <div class="row">
          <div class="col">
            marlene@hagn.network
          </div>
        </div>
      </div>
    </div>
    </div>


  </div>
</div>
